@model HW8.Models.ViewModels.ListItemViewModel
@{
    ViewBag.Title = "Item Details and Bids";
}

<h2>Item Details and Bids</h2>

<div class="wrapper">
    <div class="row"><b>@Html.DisplayNameFor(m => m.ItemId)</b>: @Model.ItemId</div>
    <div class="row"><b>@Html.DisplayNameFor(m => m.SellerName)</b>: @Model.SellerName</div>
    <div class="row"><b>@Html.DisplayNameFor(m => m.Name)</b>: @Model.Name</div>
    <div class="row"><b>@Html.DisplayNameFor(m => m.Description)</b>: @Model.Description</div>
</div>

@Html.Action("Bids", "Bid", new { id = @Model.ItemId })
