@using HW8.Models.ViewModels
@model ListItemViewModel

@{
    ViewBag.Title = "Item Details and Bids";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/bidUpdate.js"></script>
}

<h3>Item Details and Bids</h3>

<div class="row">
    <div class="form-group col-md-3">
        <b>@Html.DisplayNameFor(i => i.ItemId)</b>: @Html.DisplayFor(i => i.ItemId)
    </div>
    <div class="form-group col-md-4">
        <b>@Html.DisplayNameFor(i => i.Name)</b>: @Html.DisplayFor(i => i.Name)
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <b>@Html.DisplayNameFor(i => i.SellerName)</b>: @Html.DisplayFor(i => i.SellerName)
    </div>
    <div class="form-group col-md-8">
        <b>@Html.DisplayNameFor(i => i.Description)</b>: @Html.DisplayFor(i => i.Description)
    </div>
</div>

@* Pass item ID to bidUpdate.js *@
@Html.Hidden("id", Model.ItemId)

@* Display error message if no bids *@
<div id="noBids"></div>

@* Build table from JsonResult *@
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Buyer Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@* ------------------------ Used only if using partial view route ------------------------ *@
@*<div id="bids">
    <div class="row">
        @*Partial view updated by ajax call in bidUpdate.js*@
    @*</div>
</div>*@