@model IEnumerable<HW8.Models.ViewModels.ListItemViewModel>
@{
    ViewBag.Title = "Item List";
}

<h3>Items Available for Auction</h3>

<div class="wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">@Html.LabelFor(model => model.First().ItemId)</th>
            <th scope="col">@Html.LabelFor(model => model.First().Name)</th>
            <th scope="col">@Html.LabelFor(model => model.First().Description)</th>
            <th scope="col">@Html.LabelFor(model => model.First().SellerName)</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(i => item.ItemId)</th>
                <td>@Html.ActionLink(@item.Name, "Details", "Item", new { id = item.ItemId }, null)</td>
                <td>@Html.DisplayFor(i => item.Description)</td>
                <td>@Html.DisplayFor(i => item.SellerName)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Item", new {id = item.ItemId}, null)
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="wrapper">
    @Html.ActionLink("Put New Item Up for Bid", "Create", "Item")
</div>