@model IEnumerable<HW5.Models.TenantRequest>

@{
    ViewBag.Title = "Tenant Requests";
}

<h2>Tenant Requests</h2>

<div class="panel panel-default">
    <div class="panel-heading">Tenant Request Results</div>
    <div class="panel-body">
        <p><center>Listed below are all previous requests received. Please contact for status on your request.</center></p>
        <table class="table">
            @* Table headers *@
            <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.RequestId)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Created)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ApartmentName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.UnitNumber)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Comments)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.IsEntrancePermitted)</th>
            </tr>
            </thead>
            
            @* Table values *@
            <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => request.RequestId)</td>
                    <td>@Html.DisplayFor(model => request.Created)</td>
                    <td>@Html.DisplayFor(model => request.FullName)</td>
                    <td>@Html.DisplayFor(model => request.PhoneNumber)</td>
                    <td>@Html.DisplayFor(model => request.ApartmentName)</td>
                    <td>@Html.DisplayFor(model => request.UnitNumber)</td>
                    <td>@Html.DisplayFor(model => request.Comments)</td>
                    
                    @* Display yes or no for bool instead of checkbox *@
                    <td>@if (request.IsEntrancePermitted)
                        {<text>Yes</text>}
                        else
                        {<text>No</text>}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>